.additional__heading {
  color:  @black_text;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.additional__item {
  list-style-type: none;
}

.additional__title {
  color: @gray_dark_text_catalog;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.additional-table {
  color: @darked_gray;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
}

.additional__button {
  text-decoration: none;
  color: @white;
  background-color: @main_green;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.buy-all {
  display: block;
  background-color: @main_green;
  width: 280px;
  height: 289px;
  text-decoration: none;
}
.buy-all__text {
  color: @white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;

}
