.cat-program {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-top: 230px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    width: 1220px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.cat-program__item {
  background-color: @gray;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 22px;
  align-items: center;
  height: 266px;
  width: 280px;

  @media (min-width: @tablet-width) {
    align-items: start;
    height: 372px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 570px;
  }
}

.cat-program__title {
  padding-left: 10px;
  margin-top: 29px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: @black_text;
  position: relative;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-left: 53px;
    margin-top: 77px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 74px;
    padding: 0;
    padding-left: 214px;
  }
}

.cat-program__loosing {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat-back.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;
    background-position: 0 0;
    left: -59px;
    top: -7px;

    @media (min-width: @tablet-width) {
      left: 444px;
      top: 3px;
      background-image: url("../img/cat-back-tablet.svg");
      width: 200px;
      height: 211px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/cat-back-desktop.svg");
      left: 53px;
      top: -36px;
      width: 100px;
      height: 106px;
    }
  }
}

.cat-program__gaing {
  padding-left: 41px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat-strong.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 50px;
    background-position: 0 0;
    left: -38px;
    top: -8px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 53px;
    margin-top: 85px;

    &::before {
      left: 413px;
      top: 13px;
      background-image: url("../img/cat-strong-tablet.svg");
      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 214px;
    margin: 0;
    margin-top: 74px;

    &::before {
      background-image: url("../img/cat-strong-desktop.svg");
      left: 33px;
      top: -30px;
      width: 134px;
      height: 106px;
    }
  }
}

.cat-program__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: @darked_gray;
  margin-top: 30px;
  width: 240px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-left: 53px;
    margin-top: 25px;
    width: 377px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    padding-left: 52px;
    min-width: 467px;
    margin-top: 74px;
  }
}

.cat-program__text-gaing {
  @media (min-width: @tablet-width) {
    width: 340px;
  }

  @media (min-width: @desktop-width) {
    min-width: 457px;
  }
}

.cat-program__catalog {
  font-size: 16px;
  line-height: 16px;
  color: @black_text;
  text-decoration: none;
  text-transform: uppercase;
  width: 240px;
  margin: 0;
  margin-top: 40px;
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/right-arrow.svg");
    background-repeat: no-repeat;
    left: 100px;
    top: 2px;
    position: absolute;
    width: 32px;
    height: 10px;
    background-position: 0 0;
  }

  &:hover {
    &::before {
      content: "";
      background-image: url("../img/right-arrow2.svg");
      background-repeat: no-repeat;
      left: 100px;
      top: 2px;
      position: absolute;
      width: 50px;
      height: 10px;
      background-position: 0 0;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 50px;
    padding-left: 53px;

    &::before {
      left: 186px;
      top: 10px;
    }

    &:hover {
      &::before {
        left: 186px;
        top: 10px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-left: 52px;

    &::before {
      left: 136px;
      top: 9px;
    }

    &:hover {
      &::before {
        left: 136px;
        top: 9px;
      }
    }
  }
}
