.cooperation {
  background-color: @gray;
}

.cooperation__invitation {
  color: @black;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.cooperation__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
}
