.description {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.description__title {
  margin-top: 25px;
  color: @black_text;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    margin-top: 52px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.description__item-br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.description__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @dark_gray_text;
  font-weight: normal;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 153px;
  }
}

.description__item {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 245px;
    height: 280px;

    @media (min-width: @desktop-width) {
      width: 245px;
    }
  }

  &--eat {
    display: block;
    height: 60px;
    padding-left: 80px;
    position: relative;

    @media (min-width: @tablet-width) {
      margin-right: 75px;
      margin-bottom: 37px;
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/eat-group.svg");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      left: 0;

      @media (min-width: @tablet-width) {
        background-image: url("../img/eat-group-tablet.svg");
        width: 80px;
        height: 80px;
        left: 0;
        top: -95px;
      }

      @media (min-width: @desktop-width) {
        left: 0;
        top: 40px;
      }
    }

    &::after {
      @media (min-width: @tablet-width) {
        content: "1";
        position: absolute;
        font-size: 280px;
        line-height: 280px;
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        top: -133px;
        left: 120px;
        color: @gray;
        z-index: -1;
      }

      @media (min-width: @desktop-width) {
        top: 0;
      }
    }
  }

  &--powder {
    display: block;
    height: 60px;
    padding-left: 80px;
    position: relative;

    @media (min-width: @tablet-width) {
      padding-left: 63px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/powder-group.svg");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      left: 0;

      @media (min-width: @tablet-width) {
        background-image: url("../img/powder-group-tablet.svg");
        width: 80px;
        height: 80px;
        top: -93px;
        left: 65px;
      }

      @media (min-width: @desktop-width) {
        left: 0;
        top: 40px;
      }
    }

    &::after {
      @media (min-width: @tablet-width) {
        content: "2";
        position: absolute;
        font-size: 280px;
        line-height: 280px;
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        top: -134px;
        left: 176px;
        color: @gray;
        z-index: -1;
      }

      @media (min-width: @desktop-width) {
        left: 113px;
        top: 0;
      }
    }
  }

  &--food {
    display: block;
    height: 60px;
    padding-left: 80px;
    position: relative;

    @media (min-width: @tablet-width) {
      margin-right: 75px;
      margin-bottom: 20px;
      margin-top: 220px;
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/fork-knife-eat-group.svg");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      left: 0;

      @media (min-width: @tablet-width) {
        background-image: url("../img/fork-knife-eat-group-table.svg");
        width: 80px;
        height: 80px;
        left: 0;
        top: -93px;
      }

      @media (min-width: @desktop-width) {
        left: 0;
        top: 40px;
      }
    }

    &::after {
      @media (min-width: @tablet-width) {
        content: "3";
        position: absolute;
        font-size: 280px;
        line-height: 280px;
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        top: -130px;
        left: 115px;
        color: @gray;
        z-index: -1;
      }

      @media (min-width: @desktop-width) {
        top: 0;
      }
    }
  }

  &--time {
    display: block;
    height: 60px;
    padding-left: 80px;
    position: relative;

    @media (min-width: @tablet-width) {
      padding-left: 63px;
      margin-top: 220px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
      padding: 0;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/time-group.svg");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      left: 0;

      @media (min-width: @tablet-width) {
        background-image: url("../img/time-group-tablet.svg");
        width: 80px;
        height: 80px;
        top: -93px;
        left: 65px;
      }

      @media (min-width: @desktop-width) {
        left: 0;
        top: 40px;
      }
    }

    &::after {
      @media (min-width: @tablet-width) {
        content: "4";
        position: absolute;
        font-size: 280px;
        line-height: 280px;
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        top: -132px;
        left: 176px;
        color: @gray;
        z-index: -1;
      }

      @media (min-width: @desktop-width) {
        left: 113px;
        top: 0;
      }
    }
  }
}

.description__list {
  list-style-type: none;
  margin: 0 auto;
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 165px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 33px;
    justify-content: space-between;
    height: 280px;
  }
}
