.description__title {
  color: @black_text;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.description__list {
  list-style-type: none;
}

.description__text {
  font-family: "arial";
  font-size: 14px;
  line-height: 18px;
  color: @dark_gray_text;
  font-weight: normal;


}
