.example {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 705px;
  background-color: @light_gray;

  @media (min-width: @tablet-width) {
    margin-top: 130px;
    background-color: @white;
    width: 768px;
    min-height: 1062px;
    background-image: linear-gradient(transparent 57%, @light_gray 57%);
  }

  @media (min-width: @desktop-width) {
    margin-top: 40px;
    min-height: 628px;
    height: 502px;
    width: 1440px;
    background-image: linear-gradient(transparent 26%, @gray 26%);
  }
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.example__title {
  margin: 0 auto;
  width: 280px;
  display: block;
  margin-top: 28px;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 28px;
    font-size: 60px;
    line-height: 60px;
    min-width: 325px;
  }
}

.example__description {
  margin: 0 auto;
  width: 280px;
  display: block;
  margin-top: 32px;
  font-family: "Arial", sans-serif;
  color: @darked_gray;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    width: 702px;
    margin-top: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 149px;
    width: 436px;
  }
}

.example__wrap {
  width: 280px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 21px 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 708px;
    margin-top: 52px;
    padding: 0;
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 67px;
    flex-wrap: wrap;
    width: 415px;
  }
}

.example__list {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-right: 48px;
  }
}

.example__span-upper {
  width: 124px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid @dark_gray;
  border-radius: 3px;
  padding: 15px 0 17px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 14px 17px 18px;
  }
}

.example__text {
  width: 77px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0;
  margin-top: -11px;
  background-color: @light_gray;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 12px;
    width: auto;
    margin-top: -6px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @light_gray;
  }
}

.example__block {
  display: flex;
  width: 280px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    flex-direction: column;
    margin-left: 15px;
    justify-content: flex-start;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: 44px;
    width: 327px;
  }
}

.example__block-title {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }
}

.example__title-span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }
}

.example__case {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
