.page-footer {
  background-color: @gray;
}

.page-footer__cooperation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 114px;
  align-items: center;
  background-color: @white;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    height: 201px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 570px;
    height: 201px;
    top: 95px;
    left: 110px;
    z-index: 1;
  }
}

.page-footer__cooperation-gray {
  background-color: @gray;

  @media (min-width: @desktop-width) {
    background-color: @white;
  }
}

.page-footer__cooperation-invitation {
  color: @black;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: 171px;
    margin-left: 71px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 75px;
    margin-top: 0;
  }
}

.page-footer__cooperation-adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;

  @media (min-width: @tablet-width) {
    width: 159px;
    height: 81px;
    text-align: end;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-right: 73px;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
    margin-right: 87px;
  }
}

.page-footer__sup-adress {
  @media (min-width: @tablet-width) {
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.page-footer__sub-adress {
  @media (min-width: @tablet-width) {
    margin-top: 21px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.page-footer__map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 57px;
    height: 53px;
    background-image: url("../../img/map-pin-mobile.svg");
    top: 139px;
    left: 135px;
    z-index: 2;
  }

  @media (min-width: @tablet-width) {
    height: 400px;

    &::before {
      content: "";
      position: absolute;
      width: 113px;
      height: 106px;
      background-image: url("../../img/map-pin-table.svg");
      top: 149px;
      left: 333px;
      z-index: 2;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: 130px;
      left: 908px;
    }
  }
}

.page-footer__map-navigation {
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.page-footer__contact {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.page-footer__links {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.social__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 125px;
  padding: 0;

  @media (min-width: @tablet-width) {
    min-width: 160px;
    margin-left: 30px;
  }
}

.page-footer__logo {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  border-top: 1px solid @gray_border_block;
  border-bottom: 1px solid @gray_border_block;
  height: 63px;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-left: 85px;
  }
}
