.program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: @black_text;
}

.program__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: @black_text;
  text-transform: uppercase;
}

.main-info {
  border: none;
}

.main-info__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-info__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.main-info__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @darked_gray;
  margin-right: 10px;
}

.main-info__input {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @darked_gray;
  border: 1px solid @gray_border_light;
  height: 45px;
  width: 75%;

  input {
    height: 45px;
  }
}

.choose-program {
  border: none;
  border-top: 1px solid @gray_border_block;
  border-bottom: 1px solid @gray_border_block;

  @media (min-width: @tablet-width) {
    border: 1px solid @gray_border_block;
  }
}

.choose-program__list {
  list-style-type: none;
}

.choose-program__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @gray_dark_text_catalog;
}

.contact {
  border: none;
  border-top: 2px solid @main_green;
  margin-top: 26px;

  legend:nth-child(1) {
    text-transform: uppercase;
  }
}

.program-form__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: @gray_dark_text_catalog;
  width: 145px;
}

.program-form__case {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.contact__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 15px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.contact__item {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: @desktop-width) {
    width: 570px;
    margin-top: 0;
  }
}

.contact__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @darked_gray;
  margin-right: 12px;
}

.contact__input {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @darked_gray;
  border: 1px solid @dark_gray;
  width: 75%;
  height: 45px;
}

.comments {
  border: none;
  border-top: 2px solid @main_green;
}

.comments__area {
  border: 1px solid @gray_border_light;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @darked_gray;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 631px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.additionally {
  border: none;
  border-top: 2px solid @main_green;
}

.additionally-form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: @black_text;
}

.additionally__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.additionally__item {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @black_text;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    width: 220px;
    margin-right: 100px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-right: 0;
  }
}

.button {
  border: none;
}

.footnote {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: @black_text;
}

.program__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }

  button {
    width: 280px;
    height: 40px;

    @media (min-width: @desktop-width) {
      width: 582px;
      height: 52px;
    }
  }
}
