.promo {
  //background: @main_green_transparent;
  background: linear-gradient(rgba(104, 183, 56, 0.85) 63%, @white 63%), url("../img/cat.png");
  height: 502px;
  width: 320px;
  background-repeat: no-repeat;
  position: relative;

&::before {
    content: "";
    position: absolute;
    top: 150px;
    left: 10px;
    background: url("../img/glasswitheat.png");
    background-repeat: no-repeat;
    z-index: 2;
    height: 280px;
    width: 270px;

    @media (min-width: @tablet-width) {
      background: url("../img/glasswitheat.png");
      height: 609px;
      width: 768px;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    background: none;
    background-color: @white;
    height: 810px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 720px;
    margin-left: 140px;
    background: linear-gradient(rgba(104, 183, 56, 0.85) 63%, @white 63%), url("../img/cat-desktop.png");
    background-repeat: no-repeat;
  }
}

.promo__program-search {
  // position: absolute;  - появляется дополнительная картинка от псевдокласса
  // объявление блоком и позиционирование временное для видимого порядка
  display: block;
  margin: 0 auto;
  margin-top: 300px;
  width: 220px;
  top: 220px;
  color: @white;
  padding: 7px 44px 7px 44px;
  background: @main_green;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 83px;
    margin-top: 50px;
    width: 122px;
    z-index: 4;
  }
}

.promo__text {
  color: @white;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    width: 768px;
    color: @black_text;
  }
}

.promo__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
